<div class="row">
    <div class="d-flex justify-content-between">
        <h3>Events List</h3>
        <div class="btn-group float-right mt-2">
            <button class="btn btn-primary" [routerLink]="" (click)="openSearchFilter()">
                <i class="fa fa-search"></i>Filter</button>
        </div>
    </div>
</div>

<p *ngIf="!pois"><em>Loading...</em></p>

<div [hidden]="!sortedPois">
    <table matSort
        (matSortChange)="sortData($event)"
        matSortStart="desc"
        matSortDisableClear
        class='table table-striped'>
        <tr>
            <th mat-sort-header="poiId">EventID</th>
            <th mat-sort-header="deviceName">Indigo</th>
            <th mat-sort-header="timestamp">Date</th>
            <th mat-sort-header="trackLocation">Location</th>
            <th mat-sort-header="mileageDir">Direction</th>
            <th mat-sort-header="speed">Speed</th>
            <th mat-sort-header="poiCode">Channel</th>
            <th mat-sort-header="poiValue">Value</th>
            <th>Trace</th>
            <th>Download</th>
            <th>Group</th>
        </tr>
        <tbody>
            <tr *ngFor="let poi of sortedPois | slice:0:200" [ngStyle]="getRowStyle(poi)">
                <td>{{ poi.poiId }}</td>
                <td>{{ poi.deviceName }}</td>
                <td>{{ poi.timestamp | date:"yyyy-MM-dd HH:mm"}}</td>
                <td><span [routerLink]="['/map', poi.poiId]"><i class="fa fa-map-marker"></i></span>{{ poi.trackLocation }} </td>
                <td>{{ poi.mileageDir }}</td>
                <td>{{ poi.speed }}</td>
                <td>{{ poi.poiCode }}</td>
                <td>{{ poi.poiValue | number:"1.0-0" }}</td>
                <td><div *ngIf="(poi.poiCode != 'V.LQ') && (poi.poiCode != 'L.RQ')" (click)="onViewClicked(poi.poiId)"><i class="fa fa-line-chart"></i></div></td>
                <td><div><i class="fa fa-download"></i></div></td>
                <td><div [routerLink]="['/group', poi.poiId]"><i class="fa fa-cubes"></i></div></td>
            </tr>
        </tbody>
    </table>
</div>
