<h3>View Record file</h3>
<form #fetchRecord= "ngForm" (ngSubmit)="onClickSubmit(fetchRecord.value)" >
Record ID<input type="text" name="recordId" [(ngModel)]="recordId"  ngmodel />
<input type="submit"/>
</form>
<textarea [(ngModel)]="fileContents" cols="200" rows="25" ></textarea>

<h3>Download POI file</h3>
POI ID <input type="text" name="recordId" [(ngModel)]="poiId"  ngmodel />
<a href="/api/events/record-proc/{{ poiId }}" download="event_{{ poiId }}.csv" class="nostyle" ><i class="fa fa-download"></i></a>

