input[type="radio"] {
    margin-right: 1rem;
}

button {
    width: 20rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

label {
    vertical-align: middle;
}

.row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

select {
    height: 2rem;
}

.error {
    color: red;
}

.ng-invalid:not(form):not(.indigo-form-group) {
    border: 2px solid #a94442; /* red */
}
