<div class="row">

    <table matSort (matSortChange)="sortData($event)" matSortStart="desc" matSortDirection="desc" matSortDisableClear
        class='table table-striped'>
        <tr>
            <th mat-sort-header="poiId">EventID</th>
            <th mat-sort-header="deviceName">Device</th>
            <th mat-sort-header="timestamp">Date</th>
            <th mat-sort-header="speed">Speed</th>
            <th mat-sort-header="poiValue">Peak Value</th>
            <th>Trace</th>
            <th>Download</th>
        </tr>
        <tbody>
            <tr *ngFor="let poi of sortedPois">
                <td>{{ poi.poiId }}</td>
                <td>{{ poi.deviceName }}</td>
                <td>{{ poi.timestamp | date:"yyyy-MM-dd HH:mm"}}</td>
                <td>{{ poi.speed }}</td>
                <td>{{ poi.poiValue | number:"1.0-0" }}</td>
                <td><div *ngIf="(poi.poiCode != 'V.LQ') && (poi.poiCode != 'L.RQ')"
                    (click)="onViewClicked(poi.poiId)"><i class="fa fa-line-chart"></i></div></td>
                <td><a href="">Download</a></td>
            </tr>
        </tbody>
    </table>
</div>
